body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
/* HEADER */
#connection {
	display: none;
}
#authInfo {
	display: none;
}
#signOut {
	display: none;
}
.flexLayer {
}
.layerPanel,
.layerHeader
{
}
#layer0 {
	overflow: auto;
}
#layer0Menu {
	position: fixed;
	z-index: 100;
/*
	background-color: white;
*/
}
/*
#panelPrincipal {
    position: relative;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;	 
	-ms-flex-order: 1;	  
	-webkit-order: 1;
	order: 1;
}
*/
#panelSecond {
    height: 100%;
    position: fixed;
}

/*
.panelContent {
    width: 100%;
    height: 100%;
}
*/
.titlebar {
	padding: 1ex 0;
}
.menubar {
	text-align: right;
	padding: 1ex 0;
}
.menubar i {
	line-height: 1.5em;
}
#contents {
	text-align: left;
}
#contents table {
	width: 100%;
	border-spacing: 1px;
	/*
    border-collapse: collapse;
	table-layout: fixed;
	*/
}
#contents table tr {
}
#contents table th {
	white-space: nowrap;
	vertical-align: bottom;
}
#contents table td {
	overflow: hidden;
}
.nomobile {
    display: none;
}

.flexlayer {
	display: flex;
	flex-direction: column;
	z-index: 2;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*
	max-width: 1536px;
	min-height: 100vh;
	*/
	margin: 0 auto;
	background-color: rgba(255,255,255,.9);
}
.layerHeader {
	position: relative;
	/*
	padding: 1ex 0;
	*/
}
.layerButtons {
	position: absolute;
	top: 1ex;
	right: 1ex;
}
.layerWrapper {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
/*
	background-color: rgba(255,255,255,1);
*/
}
.layerWrapper > div {
    position: relative;
}
.layerContent {
	flex-grow: 2;
}

.layerPanel {
	transition: width .3s, min-width .3s;
/*
	width: 50ex;
	flex-grow: 1;
	min-width: 50ex;
	*/
}

.layerPanel > div {
	min-width: 50ex;
}

@media (max-width: 640px) {
	.layerWrapper {
		flex-direction: column;
	}
	.layerContents {
		flex-basis: auto;
	}
	.layerPanel {
		width: auto;
	}
}
@media (min-width: 1536px) {
	.layer, .flexlayer > div {
		width: 1536px;
		margin: 0 auto;
	}
}


table.search th {
	cursor: pointer;
}
table.log td.comment {
	vertical-align: top;
}

table.log tr.history td,
table.search tr.history td
{
	opacity: .5;
}
table.log tr.history.clicked td {
	opacity: 1;
}
table.log th.comment {
	text-align: left;
}
table.log    td.time,
table.users  td.time,
table.search td.time {
	white-space: nowrap;
	text-align: center;
}
table.log td.time {
	padding-right: 1ex;
}
table td.file a {
	text-decoration: none;
}
table td.file div:hover a {
	text-decoration: underline;
}
table.search td.file:hover a {
	text-decoration: underline;
}
table.log td.size,
table.search td.size {
	text-align: right;
	padding-right: 1ex;
	white-space: nowrap;
}
table.log td.comment {
	overflow: hidden;
}
table.users .userclass {
	text-align: center;
}
table.users td.email {
	text-align: right;
}
table.log td.sync,
table.search td.sync {
	text-align: center;
}
table.log td.buttons,
table.search td.buttons {
	text-align: right;
}

table.servers th {
	text-align: left;
}


span.cellError {
	background-color: red;
}
@media screen and (max-width: 800px) {
    .layerPanel {
		flex-grow: 1;
	}
    #panelSecond {
		width: 100%;
		min-width: 100%;
    	z-index: 100;
    	left: 0;
    	top: 0;
		background-color: rgba(255,255,255,.9);
	}
}

@media screen and (min-width: 800px) {
    #panelSecond {
	/*
        display: inline-block;
        position: relative;
        -webkit-box-flex: 0 0 auto;
        -moz-box-flex: 0 0 auto;
        -webkit-flex:  0 0 auto;
        -ms-flex:  0 0 auto;
        box-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-ordinal-group: 2;  
        -moz-box-ordinal-group: 2;	 
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        overflow-y: auto;
        overflow-x: hidden;
		*/
    }
}
@media screen and (min-width: 1200px) {
    .nomobile {
        display: inline;
    }
}

.errortext {
	color: #d76c6c;
}

.errorbox {
	background-color: #e7acac;
}
